/* utility */
* {
    box-sizing: 
    border-box; 
    margin: 0; 
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.clearfix::after {
    content: ''; 
    display: table; 
    clear: both;
}
.container {
    max-width: 
    1200px; 
    height: 500px; 
    margin: 30px auto; 
}
/* header */
.logo {
    height: 100px;
    line-height: 100px;   
    display: inline-block;
}
#logo {
    height: 80px; 
    padding-right: 20px; 
    vertical-align: middle;
}
.vl {
    border-left: 1px solid #dadada; 
    display: inline-block;
    height: 80px;
    vertical-align: middle;
}
header {
    margin-bottom: 60px;
}
ul {
    list-style: none; 
    padding-top: 30px;
} 
li {
    float: left;
    padding-right: 16px;
    color: #a8a8a8;
}
/* main */
main {
    margin-top: 60px;
}
.up {
    background: 
        linear-gradient(
        rgba(0, 0, 0, 0.12), 
        rgba(0, 0, 0, 0.12)),
        url(../img/banner.jpg);
    height: 450px; 
    margin: 30px 0;
    background-position: center;
    border-radius: 10px;
}
h2 {
    padding-top: 280px;
    padding-left: 50px;
    padding-right: 550px;
    font-size: 35px;
    font-weight: normal;
    color: #fff;
}
.loremup {
    padding-left: 50px;
    padding-right: 550px;
    font-size: 15px;
    font-weight: normal;
    color: #fff;
}
.hmain {
    margin: 30px 0;
}
h1 {
    font-size: 40px;
    font-weight: 800;
}
.hspan {
    color: #c4c4c4;
}
.float{
    float: left;
}
.sidebar {
    width: 20%; 
    height: 500px; 
}
.article {
    width: calc(60% - 60px); 
    height: 500px; 
    margin: 0 30px;
}
.bg {
    width: 100%;
    height: 240px;
}
.left {
    background:
        linear-gradient(
        rgba(0, 0, 0, 0.12), 
        rgba(0, 0, 0, 0.12)),
        url(../img/img-1.jpg);
    border-radius: 10px;
}
.center {
    background: 
        linear-gradient(
        rgba(0, 0, 0, 0.12), 
        rgba(0, 0, 0, 0.12)),
        url(../img/banner-2.jpg);
    background-position: center;
    background-size: 90%;
    border-radius: 10px;
}
.right {
    background: 
        linear-gradient(
        rgba(0, 0, 0, 0.12), 
        rgba(0, 0, 0, 0.12)),
        url(../img/img-3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    object-fit: cover;
}
h3 {
    color: #858585;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}
.lorem {
    color: #a5a5a5
}
/*footer*/
footer {
    text-align: center;
}
.heart {
    color: red;
}
