* {
    box-sizing: 
    border-box; 
    margin: 0; 
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.clearfix::after {
    content: ''; 
    display: 
    table; 
    clear: 
    both;
}
.container {
    max-width: 
    1200px; 
    height: 500px; 
    margin: 30px auto; 
}
.logo {
    height: 100px;
    line-height: 100px;   
    display: inline-block;
}
#logo {
    height: 80px; 
    padding-right: 20px; 
    vertical-align: middle;
}
.vl {
    border-left: 1px solid #dadada; 
    display: inline-block;
    height: 80px;
    vertical-align: middle;
}
ul {
    list-style: none; 
    padding-top: 30px;
} 
li {
    float: left;
    padding-right: 16px;
    color: #a8a8a8;
}