/* utility */
* {
    box-sizing: 
    border-box; 
    margin: 0; 
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.clearfix::after {
    content: ''; 
    display: table; 
    clear: both;
}
.container {
    max-width: 
    1200px; 
    height: 500px; 
    margin: 30px auto; 
}
/* header */
.logo {
    height: 100px;
    line-height: 100px;   
    display: inline-block;
}
#logo {
    height: 80px; 
    padding-right: 20px; 
    vertical-align: middle;
}
.vl {
    border-left: 1px solid #dadada; 
    display: inline-block;
    height: 80px;
    vertical-align: middle;
}
header {
    margin-bottom: 60px;
}
ul {
    list-style: none; 
    padding-top: 30px;
} 
li {
    float: left;
    padding-right: 16px;
    color: #a8a8a8;
}
/* main */
main {
    margin-top: 60px;
}
.up {
    background: url(../img/banner.jpg), rgba(0, 0, 0, 0.2);
    height: 450px; 
    margin: 30px 0;
    background-position: center;
    border-radius: 10px;
}
h2 {
    padding-top: 280px;
    padding-left: 50px;
    padding-right: 550px;
    font-size: 35px;
    font-weight: normal;
    color: #fff;
}
p {
    padding-left: 50px;
    padding-right: 550px;
    font-size: 15px;
    font-weight: normal;
    color: #fff;
}